Repository snippet-labs/CLIENT-AASHIS, pull requests merged in 2025-05, with the labels that each got.

#6 [CLIENT] [UI] Layout Optimization
  client/src/App.tsx
  client/src/Components/Menubar/Menubar.tsx
  client/src/Components/Navigationbar/Navigationbar.style.css
  client/src/Components/Navigationbar/Navigationbar.tsx
  client/src/Layout/Layout.tsx
  client/src/Pages/Error/Error.tsx
  client/src/Utils/Loader/Loader.style.css
  client/src/Utils/Loader/Loader.tsx
  client/src/index.css
  package.json
Labels: enhancement, client, ready to merge, fixed, important, Optimized

#7 [CLIENT] [CONFIG] Vitest
  client/package.json
  client/src/Layout/Layout.tsx
  client/tests/setup.js
  client/vite.config.ts
  package.json
Labels: client, ready to merge

#8 [CLIENT] [FUNCTIONALITY] Searchbar Component
  client/src/Components/Menubar/Menubar.tsx
  client/src/Hooks/useSearchModal.ts
  client/src/Utils/Button/Button.types.ts
  client/src/Utils/Search/RecentSearch.tsx
  client/src/Utils/Search/Search.style.css
  client/src/Utils/Search/Search.tsx
  client/src/Utils/Search/Search.types.ts
  client/src/Utils/Search/SearchModal.tsx
  client/src/Utils/Searchbar/Searchbar.tsx
  client/src/Utils/Searchbar/Searchbar.types.tsx
  client/src/index.css
Labels: client, feature, ready to merge, important

#9 [CLIENT] [LOGIC] Window Keyboard Action
  client/src/Components/Menubar/Menubar.tsx
  client/src/Utils/Search/Search.tsx
  client/src/Utils/Search/Search.types.ts
  client/src/Utils/Search/SearchModal.tsx
Labels: client, ready to merge, fixed

#10 [CLIENT] [UI] Fix Searchbar UI For Mobile View
  client/src/Components/Menubar/Menubar.tsx
  client/src/Utils/Search/Search.tsx
  client/src/Utils/Search/Search.types.ts
  client/src/Utils/Search/SearchModal.tsx
Labels: client, ready to merge, fixed

#13 [CLIENT] [COMPONENT] Homepage with sidebar
  client/src/Components/Menubar/Menubar.tsx
  client/src/Components/Navigationbar/Navigationbar.tsx
  client/src/Components/Sidebar/Sidebar.style.css
  client/src/Components/Sidebar/Sidebar.tsx
  client/src/Components/Sidebar/Sidebar.types.ts
  client/src/Constants/Categories.ts
  client/src/Constants/Saleoffer.ts
  client/src/Layout/Layout.tsx
  client/src/Pages/Home/Home.style.css
  client/src/Pages/Home/Home.tsx
  client/src/Utils/Button/Button.tsx
  client/src/Utils/Button/Button.types.ts
  client/src/Utils/Loader/Loader.tsx
  client/src/Utils/Search/RecentSearch.tsx
  client/src/Utils/Search/Search.tsx
  client/src/Utils/Search/SearchModal.tsx
  client/src/globals.css
  client/src/index.css
Labels: enhancement, client, ready to merge, important

#17 [PACKAGES] : lottie-react
  client/package.json
Labels: package

#18 [PACKAGES] : Embla
  client/package.json
Labels: package

#19 [PACKAGE] : embla-carousel-fade
  client/package.json
Labels: package

#20 [PACKAGE] : Vitest-coverage
  client/package.json
Labels: package

#21 [TEST] [CLIENT] Homepage
  client/.gitignore
  client/src/Components/Sidebar/Sidebar.tsx
  client/src/Components/Sidebar/Sidebar.types.ts
  client/src/Pages/Home/Home.test.tsx
  client/src/Pages/Home/Home.tsx
  client/src/Utils/Button/Button.tsx
  client/src/Utils/Button/Button.types.ts
Labels: client, test

#22 [CLIENT] [UTIL] Homepage carousel
  client/src/Pages/Error/Error.tsx
  client/src/Pages/Home/Home.test.tsx
  client/src/Pages/Home/Home.tsx
  client/src/Utils/Carousal/Carousel.style.css
  client/src/Utils/Carousal/Carousel.tsx
  client/src/Utils/Carousal/CarouselArrowButtons.tsx
  client/src/Utils/Carousal/CarouselDotButtons.tsx
  client/src/index.css
Labels: client, feature, ready to merge
